<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <div style="text-align: center; padding-top: 30px;">
            <img src="https://picsum.photos/150" style="border-radius: 50%;">
            <h1>Suryakant Singh</h1>
            <div>System Administrator</div>
        </div>
        <br>
        <app-sidebar-navigation></app-sidebar-navigation>
    </mat-drawer>

    <div class="example-sidenav-content">
        <p class="mat-elevation-z2">
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Surya's Library Management System</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </mat-toolbar>
        </p>
        <div style="padding: 20px">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>